.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
node_modules
.gitignore
tsconfig.json
.github/**
.vscodeignore
.eslint*
elixir-ls/_build/**
elixir-ls/deps/**
elixir-ls/.elixir_ls/**
elixir-ls/**/.elixir_ls/**
elixir-ls/**/node_modules/**
elixir-ls/**/*.beam
elixir-ls/.git/**
