on:
  push:
    tags:
      - "*"

name: Deploy Extension
jobs:
  deploy:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: 'true'
      - name: validate version
        run: |
          VERSION=$(jq -r .version package.json)
          if [[ "$GITHUB_REF_NAME" != "v$VERSION" ]]; then
              echo "package.json version $VERSION does not match commit tag $GITHUB_REF_NAME"
              exit 1
          fi
      - uses: actions/setup-node@v6
        with:
          node-version: "20.x"
      - name: Setup Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: 1.18.x
          otp-version: 27.x
      - run: npm ci
      - name: Apply elixir-ls patches
        run: ./scripts/apply-patches.sh
      - name: Compile elixir-ls with patches
        run: cd elixir-ls && mix deps.get && MIX_ENV=prod mix compile

      - name: Dry run
        uses: HaaLeo/publish-vscode-extension@v2
        if: ${{ contains(github.ref, '-rc.') }}
        with:
          pat: "dummy"
          preRelease: true
          dryRun: true
      - name: Publish to Visual Studio Marketplace
        uses: HaaLeo/publish-vscode-extension@v2
        if: ${{ !contains(github.ref, '-rc.') }}
        with:
          pat: ${{ secrets.VS_MARKETPLACE_TOKEN }}
          registryUrl: https://marketplace.visualstudio.com
          # preRelease: ${{ contains(github.ref, '-rc.') }}